:80 {
	encode zstd gzip

	@health path /health
	handle @health {
		rewrite * /api/v1/health
		reverse_proxy api:3000
	}

	@api path /api/v1 /api/v1/*
	handle @api {
		reverse_proxy api:3000
	}

	@auth path /api/auth /api/auth/*
	handle @auth {
		reverse_proxy api:3000
	}

	handle {
		root * /srv/atlashq/web
		try_files {path} /index.html
		file_server
	}
}
